<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" type="text/css" />
    <script
      src="https://kit.fontawesome.com/cf6fa412bd.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="buttonsForm">
        <div class="btnColor"></div>
        <button id="btnSignin">Entrar</button>
        <button id="btnSignup">Cadastrar</button>
      </div>

      <form id="signin" action="/auth" method="post">
        <input
          id="email"
          name="email"
          type="text"
          placeholder="Email"
          required
        />
        <i class="fas fa-envelope iEmail"></i>
        <input
          id="senha"
          name="senha"
          type="password"
          placeholder="senha"
          required
        />
        <i class="fas fa-lock iPasswordLogin"></i>
        <div class="divCheck">
          <input type="checkbox" />
          <span>Lembrar senha</span>
        </div>
        <button type="submit">Entrar</button>
      </form>

      <form id="signup" action="/register" method="post">
        <input
          type="text"
          placeholder="Email"
          required
          name="email"
          id="email"
        />
        <i class="fas fa-envelope iEmail"></i>

        <input type="text" placeholder="Nome" required name="nome" id="nome" />
        <i class="fas fa-solid fa-user iNome"></i>

        <input
          type="password"
          placeholder="senha"
          required
          name="senha"
          id="senha"
        />
        <i class="fas fa-lock iPassword"></i>

        <input
          type="password"
          placeholder="senha"
          required
          name="senha"
          id="senha"
        />
        <i class="fas fa-lock iPassword2"></i>

        <button type="submit">Cadastrar</button>
      </form>
    </div>

    <script src="../../javascripts/login.js"></script>
  </body>
</html>
